body {
  background-color: white;
  text-align: center;
}

h2 {
  display: inline;
}
.skillsi {
  border-radius: 50%;
  max-width: 50%;
  max-height: 50%;
}
.skill-row {
  padding: 5rem;
}

.top-container {
  background-image: url("img/internet.jpg");
  /* height: 700px; */
  padding: 250px;
}

.skills {
  background-image: url("img/Experience.png");
  color: white;
}
.about {
  background-image: url("img/about.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
}
