body {
  background-color: white;
  text-align: center;
}

h1 {
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  font-size: 5rem;
}
h3 {
  font-family: 'Pacifico', cursive;
  color: white;
  padding: 5rem;
  font-size: 3rem;
}

h2 {
  display: inline;
}
.skillsi {
  border-radius: 50%;
  max-width: 50%;
  max-height: 50%;
}
.skill-row {
  padding: 5rem;
}
.mail {
  border-radius: 50%;
}
.top-container {
  background-image: url("img/hello.jpg");
  /* height: 700px; */
  padding: 300px;
  /* padding-top: 250px; */
  color: white;
}

.skills {
  background-image: url("img/Experience.png");
  color: white;
}
.about {
  background-image: url("img/about.jpg");
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
}
.contact-me {
  background-image: url("img/contact.png");
  background-repeat: no-repeat;
  background-position: center;
  padding: 3%;
  color: white;
}
.bottom-container {
  background-color: #11999E;
  padding: 1.5%;
}
.Education {
  background-image: url("img/ed_bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  padding: 5%;
}
.icon {
  margin-right: 1rem;
}
.footer-link {
  margin-right: 1rem;
  color: white;
}
.fot {
  margin-top: 1rem;
}
.card1 {
  margin: 2rem;
  border-width: medium;
  border-color: black;
}
